<style language="CSS"> 

/* CSS */ MENU DROPDOWN HORIZONTAL */

/* zerando o margin e padding para todos os navegadores, colocaremos um
   estilo de texto para o nosso texto do menu e removeremos os bullets 
   da lista. Depois vamos definir uma borda e colocaremos o float:"left";
   para que as bordas fiquem certinhas
*/

*{margin: 0; padding: 0;}
 
body{ font-family: arial, helvetica, sans-serif;
      font-size: 12px;
      }
 
.menu{ list-style:none; 
       border:1px solid #c0c0c0; /* cinza prata */
       float:left; 
       }

.menu li{ position:relative; 
          float:left; 
          border-right:1px solid #c0c0c0; /* cinza prata */
          }

/* estilizar os links com sombra usando propriedade text-shadow e box-shadow */
.menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}
 
.menu li a:hover{ background:#333; 
                  color:#fff; 
                  -moz-box-shadow:0 3px 10px 0 #CCC; 
                  -webkit-box-shadow:0 3px 10px 0 #ccc; 
                  text-shadow:0px 0px 5px #fff; 
                  }

/* submenu, definindo a sua posição como absoluta(postition:absolute;),
   para que os itens do submenu não ultrapassem o seu menu pai e para
   que ele não interfira no fluxo dos elementos do menu.
*/

.menu li ul{ position:absolute; 
             top:25px; 
             left:0;
             background-color:#fff; 
             display:none;
             }   


/* Exibir o submenu */
.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{ border:1px solid #c0c0c0; 
                display:block; 
                width:150px;
                }

</style>
